html, body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  /* background-color: gray; */
}

.navbar {
  padding: 10px 20px;
}

.navbar-brand img {
  height: 30px;
}

.navbar .nav-item .nav-link {
  color: black;
}

.navbar-nav.action-section {
  gap: 8px;
}

.navbar-nav .nav-item .action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  padding: 8px 15px;
  text-decoration: none;
  color: black;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
}

.navbar-nav .nav-item .action-btn.action-btn-2 {
  background-color: black;
  color: white;
}

.navbar-nav .nav-item .action-btn.round {
  padding: 8px;
}

.navbar-nav .nav-item .action-btn.round2 {
  padding: 8px 11px;
}

.navbar-nav .nav-item .action-btn img {
  width: 25px;
}

.navbar-nav .nav-item .action-btn p {
  margin: 0;
}

.container {
  margin: auto;
}

.home-banner {
  display: flex;
  flex-flow: column;
  gap: 30px;
  margin-top: 10px;
  /* padding: 30px 60px; */
  background-color: #0938af;
  border-radius: 30px;
}

.home-banner .home-banner-top {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.home-banner .home-banner-top h1 {
  margin: auto;
  /* font-size: 48px; */
  font-weight: 700;
  color: white;
  text-align: center;
}

.home-banner .home-banner-top h6 {
  /* font-size: 24px; */
  font-weight: 400;
  color: white;
  text-align: center;
}

.home-banner-bottom .figure {
  border-radius: 100%;
  background-color: white;
  overflow: hidden;
}

.home-banner-bottom .figure img {
  width: 100%;
  /* margin-left: -20%;
  margin-right: -20%; */
}

.home-banner-bottom .text-block {
  display: flex;
  flex-flow: column;
  /* gap: 12px; */
  color: white;
}

.owl-carousel.owl-theme {
  position: relative;
  padding: 20px 0px;
}

.owl-carousel .owl-stage {
  margin-bottom: 10px !important;
}

.owl-theme .owl-dots {
  display: none;
}

.owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -55px;
  /* left: -45px; */
  width: calc(100% + 110px);
  display: flex;
  justify-content: space-between;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
}

.nextBtn {
  transform: rotate(180deg);
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  /* transition: background .3s ease-in-out; */
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}


@media screen and (min-width:1536px ) and (max-width: 1900px) {
 .mainz
 {
  width: 80% !important;
 }
}

@media screen and (min-width: 1400px) {

  .containerX {
    width: 1300px;
    margin: auto;
  }
  
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .containerX {
    width: 1160px;
    margin: auto;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .containerX {
    width: 960px;
    margin: auto;
  }
  .owl-theme .owl-nav {
    left: -28px;
    width: calc(100% + 60px);
  }
  .owl-theme .owl-nav button {
    width: 35px;
    height: 35px;
  }
  .owl-theme .owl-nav button svg {
    width: 30px;
    height: 30px;
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .containerX {
    width: 720px;
    margin: auto;
  }
  .owl-carousel.owl-theme {
    width: 98%;
    margin: auto;
  }
  .owl-theme .owl-nav {
    left: -43px;
    width: calc(100% + 80px);
  }
  .owl-theme .owl-nav button {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 300px) and (max-width: 786px) {
  .containerX {
    width: 90%;
    margin: auto;
  }

  .owl-carousel.owl-theme {
    padding: 10px 0px;
  }

  .owl-theme .owl-nav {
    left: -25px;
    width: calc(100% + 50px);
  }
  .owl-theme .owl-nav button {
    width: 20px;
    height: 20px;
  }
  .owl-theme .owl-nav button svg {
    width: 24px;
    height: 24px;
  }

}

@media screen and (max-width: 360px) {
  .small-card-title {
    font-size: 11px !important;
  }

  .small-card-text {
    font-size: 8px !important;
  }

  .small-card-actions {
    padding-top: 0 !important;
  }

  .small-card-icons {
    width: 10px !important;
    height: 10px !important;
  }
}

